#INTERNAL_START
on post-fs-data
#
# Connectivity related modules and character device nodes (Begin)
#

#/dev/ttyMT2 for Connectivity BT/FM/GPS usage
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2

#GPS
    mkdir /data/gps_mnl 0771 gps system
    mkdir /data/misc/gps 0770 gps system
    chown gps system /data/mpe_mnl
    chmod 0775 /system/xbin/MPED
#
# Connectivity related device nodes & configuration (end)
#


on boot

#
# Connectivity related services (Begin)
#
# WMT
service wmt_loader /system/bin/wmt_loader
    user root
    group root
    oneshot

service wmt_launcher /system/bin/wmt_launcher -p /system/etc/firmware/
    user system
    group system

# GPS
service mnld /system/xbin/mnld
    class main
    user gps
    group gps inet misc sdcard_rw sdcard_r media_rw system radio
    socket mnld stream 660 gps system

service MPED /system/xbin/MPED
    class main
    user gps
    group gps inet misc sdcard_rw sdcard_r media_rw system
    socket MPED stream 660 gps system

#service BGW /system/xbin/BGW
#    user system
#    group gps system radio
#    class main

#
# Connectivity related services (End)
#
#INTERNAL_END
