#
# MAL related services (Begin)
#

on property:ril.mal=0
    stop mal-daemon
    stop md-daemon
    stop imsm-daemon

on property:ril.mal=1
    stop md-daemon
    stop imsm-daemon
    start mal-daemon

on property:ril.mal=2
    stop mal-daemon
    start md-daemon
    start imsm-daemon

on property:persist.chiptest.enable=0
    setprop ril.mal 1

on property:persist.chiptest.enable=1
    setprop ril.mal 2

service mal-daemon /system/bin/mtkmal
    class core
    socket mal-mfi stream 660 root radio
    socket volte_imsm stream 660 root radio
    user root
    group radio cache inet misc log system wifi

service md-daemon /system/bin/mtkmal
    socket mal-mfi-dongle stream 660 root radio
    user root
    group radio cache inet misc log system wifi
    oneshot
    disabled

service imsm-daemon /system/bin/volte_imsm_md
    socket volte_imsm_dongle stream 660 root radio
    user root
    group radio cache inet misc log system wifi
    oneshot
    disabled

#
# MAL related services (End)
#
