# ==============================================
# MTK Policy Rule
# ============


allow dnsmasq netd:file read;
allow dnsmasq lannetmngrd:file read;
